---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Lema from "../components/Lema.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import Mercadolibre from "../components/Mercadolibre.astro";

import logo1 from '../img/cerrito_logo0_blanco.png';
import logo2 from '../img/union_logo_3_borderless.png';
---

<Layout title="Bienvenido!">
	<main>
		<div id="landing">
			<div class="logo_container">
				<Logo dir={logo1.src} />
				<Logo dir={logo2.src} />
			</div>
			<Lema />
			<button id="scrolldown">&darr; Conoce más acerca de nosotros &darr;</button>
		</div>
		<span id="scroll"></span>
		<Mercadolibre />
		<Contact />
	</main>
	<Footer />

	<script>
		const arrow = document.getElementById("scrolldown");
		const target = document.getElementById("scroll");
		arrow?.addEventListener("click", () => {
			arrow?.classList.add("hide");
			target?.scrollIntoView({ behavior: "smooth" });
		});
		window.onscroll = () => {
			if (window.scrollY > 10) {
				arrow?.classList.add("hide");
			} else {
				arrow?.classList.remove("hide");
			}
		};
	</script>
	<!-- Google tag (gtag.js) -->
	<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-PW2YM5T7CX"></script>
	<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());
		gtag("config", "G-PW2YM5T7CX");
	</script>
</Layout>

<style>
	body {
		background-color: var(--paleta2-2) /*var(--color2)*/;
	}
	.logo_container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	@media (max-width: 1024px) {
		.logo_container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	#landing {
		height: 100svh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#scrolldown {
		color: whitesmoke;
		font-size: 1rem;
		position: absolute;
		bottom: 10px;
	}
	.hide {
		display: none;
	}
</style>
