---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import Lema from '../components/Lema.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import Mercadolibre from '../components/Mercadolibre.astro';
---

<Layout title="Tornillerias.">
	<main>
		<div id="landing">
			<div class="logo_container">
				<Logo dir="/src/img/cerrito_logo0_blanco.png"></Logo>
				<Logo dir="/src/img/union_logo_3_borderless.png"></Logo>
			</div>
			<Lema></Lema>
		</div>
		<Mercadolibre></Mercadolibre>
		<Contact></Contact>
	</main>
	<Footer></Footer>
</Layout>

<style>
	body{
		background-color: var(--paleta2-2)/*var(--color2)*/;
	}
	.logo_container{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	@media (max-width:800px) {
		.logo_container{
			flex-direction: column;
		}
	}
	#landing{
		height: 100svh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>