---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import Lema from '../components/Lema.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Tornillerias.">
	<main>
		
		<div class="logo_container">
			<Logo dir="/src/img/cerrito_logo_3.png"></Logo>
			<Logo dir="/src/img/union_logo_3.png"></Logo>
		</div>
		<Lema></Lema>
		<Contact></Contact>
		<Footer></Footer>
	</main>
</Layout>

<style>
	body{
		background-color: var(--color2);
	}
	.logo_container{
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
</style>