---

---

<section id="contacto">
    <div class="column" id="cerrito">
        <a
            href="https://www.google.com/maps/place/Tornilleria+Cerrito/@-34.8590869,-56.1619818,15.54z/data=!4m6!3m5!1s0x95a02bbaf7e36fd7:0x30a33c769a7f1a63!8m2!3d-34.8525169!4d-56.1600518!16s%2Fg%2F11g07cyx52?authuser=0&entry=ttu"
            target="_blank"
            rel="noopener noreferrer"
        >
            <div class="info">
                <p>Direccion: tanto</p>
                <p>Telefono: 9000000</p>
                <p>Horarios</p>
            </div>
            <img src="src/img/cerrito_map.png" alt="" />
        </a>
    </div>
    <div class="column" id="union">
        <a
            href="https://www.google.com/maps/place/Torniller%C3%ADa+Uni%C3%B3n/@-34.8839417,-56.1457948,15.25z/data=!4m6!3m5!1s0x959f80e5853d30d7:0x32627e695dadb487!8m2!3d-34.8817275!4d-56.1442421!16s%2Fg%2F11hczgfsqv?authuser=0&entry=ttu"
            target="_blank"
            rel="noopener noreferrer"
        >
            <div class="info">
                <p>Direccion: tanto</p>
                <p>Telefono: 9000000</p>
                <p>Horarios</p>
            </div>
            <img src="src/img/union_map.png" alt="" />
        </a>
    </div>
</section>

<style>
    a {
        width: 70%;
        margin-top: -200px;
        border-radius: 20px;
    }
    img {
        width: 100%;
        z-index: 99;
        border-radius: 20px;
    }
    .info {
        width: 40%;
        height: 200px;
        position: relative;
        top: 200px;
        left: 0;
        z-index: 100;
        background-color: var(--color13);
        border-radius: 20px;
        padding: 15px;
    }
    #contacto {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
