---

---

<div class="titulo">
    <p>Nuestras sucursales:</p>
</div>
<section id="contacto">
    <div class="column" id="cerrito">
        <h2>Cerrito</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13095.544762508836!2d-56.1619818!3d-34.8590869!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a02bbaf7e36fd7%3A0x30a33c769a7f1a63!2sTornilleria%20Cerrito!5e0!3m2!1ses-419!2suy!4v1717852508448!5m2!1ses-419!2suy"
            width="600"
            height="600"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="horarios">
            <p><b>Teléfono:</b> <br />2215 2620</p>
            <p>
                <b>Horario:</b>
                <br />L a V de 8.15 a 13.00 y de 14.00 a 18.00
                <br />Sábados de 8.15 a 14.00
            </p>
        </div>
    </div>
    <div class="column" id="union">
        <h2>Unión</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13091.586561515409!2d-56.1457948!3d-34.8839417!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80e5853d30d7%3A0x32627e695dadb487!2zVG9ybmlsbGVyw61hIFVuacOzbg!5e0!3m2!1ses-419!2suy!4v1717852570349!5m2!1ses-419!2suy"
            width="600"
            height="600"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="horarios">
            <p><b>Teléfono:</b> <br/> 2508 3829</p>
            <p><b>Horario:</b> <br/> L a V de 8.15 a 13.00 y de 14.00 a 18.00</p>
        </div>
    </div>
</section>

<style>
    a {
        width: 80%;
        border-radius: 20px;
        position: relative;
        box-shadow: 5px 5px 4px var(--color9);
    }
    img {
        width: 100%;
        z-index: 99;
        border-radius: 20px;
    }
    .info {
        width: 40%;
        height: 240px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 100;
        background-color: whitesmoke;
        border-radius: 20px;
        border-width: 6px;
        border-color: var(--color11);
        box-sizing: border-box;
        padding: 10px;
        box-shadow: 3px 3px 3px var(--color9);
    }
    .info p {
        font-size: 16px;
    }
    #contacto {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        margin-top: 25px;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: content-box;
        border-radius: 20px;
        background-color: white;
        height: 750px;
    }
    .titulo {
        padding-top: 5%;
        padding-bottom: 3%;
    }
    .titulo p {
        font-size: 20px;
        font-weight: bold;
        width: 30%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 0;
        background-color: var(--color13);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px 4px var(--color9);
    }
    h2 {
        font-size: 25px;
    }
    .horarios {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .horarios p {
        width: 100%;
        text-align: left;
    }
    @media (max-width: 1270px) {
        #contacto{
            flex-direction: column;
        }
        .column{
            margin-bottom: 25px;
        }
    }
</style>