---

---

<div>
    <p>Todos los derechos reservados</p>
</div>

<style>
    p{
        background-color: var(--color7);
        height: 50px;
        margin-top: 50px;
        font-size: x-small;
        width: 50%;
        align-content: center;
        left: 25%;
        position: relative;
        justify-content: center;
        padding-left: 20%;       
        
    }
    div {
        height: 100px;
        margin-bottom: 15px;

    }
</style>