---

---

<!-- <div>
    <p>Todos los derechos reservados</p>
</div> -->

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Todos los derechos reservados.
    </span>
    </div>
</footer>

<style>
    p{
        all: unset;
        font-family: 'jai';
        background-color: var(--color13);
        height: 50px;
        font-size: small;
        width: 100%;
        text-align: center;
        align-content: center;
    }
    div {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
</style>