---

---

<div>
    <p>Todos los derechos reservados</p>
</div>

<style>
    p{
        all: unset;
        font-family: 'jai';
        background-color: var(--color13);
        height: 50px;
        font-size: small;
        width: 100%;
        text-align: center;
        align-content: center;
    }
    div {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
</style>