---

---
<div class="lema">
    <p>
        Con más de 40 años de experiencia, somos tus expertos en tornillos, bulones, pernos, herrajes y herramientas. ¡Pregúntanos lo que necesites!
    </p>
</div>

<div class="titulo">
    <p>
        Conoce más acerca de nuestras sucursales:
    </p>
</div>


<style>
    .lema {
        padding-top: 5%;
    } 
    .lema p{
        font-size: 25px;
        font-style: italic;
        font-weight: bolder;
        width: 70%;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 25px;
        background-color: var(--color12);
        border-radius: 10px;
        padding: 30px;
        
    }

    .titulo {
        padding-top: 5%;
    } 
    .titulo p{
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        width: 30%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        background-color: var(--color13);
        border-radius: 10px;
        padding: 10px;
        
    }
</style>