---

---
<div class="lema">
    <p class="">
        Con más de 40 años de experiencia, somos tus expertos en tornillos, bulones, pernos, herrajes y herramientas.<br>¡Pregúntanos lo que necesites!
    </p>
</div>

<style>
    .lema {
        padding-top: 5%;
    } 
    .lema p{
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: bolder;
        width: 70%;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: var(--color13);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 5px 5px 4px var(--color9);
    }
</style>