---

---

<div class="lema">
    <p>
        Con más de 40 años de experiencia, somos tus expertos en tornillos,
        bulones, pernos, herrajes y herramientas.
    </p>
</div>

<style>
    .lema {
        padding-top: 5%;
    }
    p {
        color: white;
        font-size: 1.3vw;
        font-family: "Montserrat", sans-serif;
        width: 150vh;
        text-align: center;
        margin: auto;
        background-color: transparent;
        filter: drop-shadow(2px 2px 1px black);
    }
    @media (max-width: 1024px) {
        p {
            width: 80%;
            font-size: 2.7vw;
        }
    }
    @media (max-width: 800px) {
        p {
            font-size: 3.1vw;
        }
    }
</style>
