---

---

<p>
    Consulte y pregunte, nuestros años de mostrador abalan la experiencia en tornillos, bulones, pernos, herrajes y herramientas.
</p>

<style>
    p{
        font-size: 25px;
        width: 60%;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 25px;
        background-color: #555;
        border-radius: 10px;
        padding: 10px;
    }
</style>