---
interface Props {
    dir: string;
}

const { dir } = Astro.props;
---

<div>
    <img src={dir} alt="" />
</div>

<style>
    div {
        padding: 1%;
    }
    img {
        width: 80vh;
        height: 28vh;
        border-radius: 5px;
        border-style: solid;
        border-color: black;
        padding: 5px;
        filter: drop-shadow(5px 5px 5px black);
    }
</style>
