---
import type { ImageMetadata } from 'astro';
interface Props {
    dir: string;
}
const { dir } = Astro.props;
// const images = import.meta.glob<{ default: ImageMetadata }>('src/img/*.{jpeg,jpg,png,gif}');
// if (!images[dir]) throw new Error(`"${dir}" does not exist in glob: "src/img/*.{jpeg,jpg,png,gif}"`);
// let imagen = await images[dir]();
---

<div>
    <img src={dir} alt="Logo" />
</div>

<style>
    div {
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    img {
        width: 80svh;
        height: 28svh;
        border-radius: 5px;
        border-style: solid;
        border-color: black;
        padding: 5px;
        filter: drop-shadow(5px 5px 5px black);
    }
    @media (max-width: 1024px) {
        img {
            width: 80%;
            height: auto;
        }
    }
</style>
