---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="src/img/tornillo-logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--color1: #c92432;
		--color2: #2a3b8d;
		--color3: #00005b;
		--color4: #00008e;
		--color5: #e6d542;
		--color6: #b21a2f;
		--color7: #ffffff99;
		--color8: #383332;
		--color9: #30383a;
		--color10: #475356;
		--color11: #5e6e72;
		--color12: #75898e;
		--color13: #ffffffcc;
		--color14: #fdfefe;

		--paleta1-1: #75c8e0;
		--paleta1-2: #e0d875;
		--paleta1-3: #748fe1;
		--paleta1-4: #e0c375;
		--paleta1-5: #777c8b;
		
		--paleta2-1: #8ecae6;
		--paleta2-2: /*#219ebc;*/#215fbc;
		--paleta2-3: #023047;
		--paleta2-4: #ffb703;
		--paleta2-5: #fb8500;
		
		--paleta3-1: #3d5a80;
		--paleta3-2: #98c1d9;
		--paleta3-3: #e0fbfc;
		--paleta3-4: #ee6c4d;
		--paleta3-5: #293241;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('src/fonts/Montserrat-VariableFont_wght.ttf');
	}
	html{
		
		scrollbar-width: none;
		scrollbar-color: transparent;
		scrollbar-gutter: auto;
	}
	body {
		background-color: var(--paleta2-2) /*var(--color2)*/;
	}
	p{
		font-family: 'Montserrat';
	}
</style>
